* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size:16px;
    line-height: 1.6;
    transition:0.1s;
    color:white;
    transition:0.1s;
}

:root {
--nav-bg: #292929;
--content-bg: #353535;
}

#main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--content-bg);
    height: calc(100vh - 40px);
}

nav {
    width:20%;
    height:100%;
    box-shadow: 3px 0 10px rgba(0,0,0,0.2);
    display:flex;
    flex-direction: column;
    background-color: var(--nav-bg);
}

#user-info-section {
    display:grid;
    grid-template-columns: 1fr 5fr;
    justify-content: center;
    align-items: center;
    gap:20px;
    width:100%;
    padding:10px 20px;
    margin-bottom:20px;
}

#nav-user-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid red;
}

#nav-user-name {
    font-weight: bold;
    font-size: 1.1rem;
    height: 100%;
    display: flex;
    align-items: center;
}

#default-lists-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    width:100%;
    height:180px;
    margin-bottom:20px;
}

.list-item {
    background:none;
    width:100%;
    padding: 10px 20px 10px 20px;
    text-align: left;
}

.list-item:hover {
    opacity:0.6;
}   

#lists-section {
    display: flex;
    flex-direction: column;
    gap:5px;
    width:100%;
}

#lists-heading {
    font-size:1.2rem;
    text-transform: uppercase;
    padding:10px 20px;
    width: 100%;
}

#lists-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    width:100%;
}

#add-list-btn {
    color:rgb(177, 177, 177);
    font-size:0.9rem;
}

#add-list-name {
    width:90%;
    height:40px;
    border:none;
    border-bottom:1px solid gray;
    outline:none;
    padding:0 10px;
    background-color: transparent;
    font-size:0.9rem;
}

button {
    cursor: pointer;
    border:none;
    background:none;
}

#content-container {
    height: 100%;
    width:80%;
    display:flex;
    flex-direction: column;
    align-items: left;
    padding:4rem;
}

#content-heading {
    font-size:2rem;
    font-weight: 900;
    margin-bottom:1rem;
}

#task-container {
    width: 100%;
}

.task-item {
    display: flex;
    align-items: center;
    gap:10px;
    width: 100%;
    height: 50px;
    padding:5px 10px;
}

.task-item:hover {
    opacity:0.6;
    cursor:pointer;
} 

#add-task-btn {
    color:rgb(177, 177, 177);
    font-size:0.9rem;
}

.checkbox {
    position: relative;
    display: inline-block;
    cursor:pointer;
  }

.task-details-container {
    display:flex;
    flex-direction: column;
    width:100%;
    user-select: none;
}

.task-name {
    font-weight: bold;
    line-height: 20px;
}

.task-details-container > span {
    font-size: 0.8rem;
    color:rgb(177, 177, 177);
    line-height: 15px;
}

footer {
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
}